{% extends 'layout.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}


{% block store %}


<div class="form-cont">
    <div class="container rounded">
        <div class="row">
            <div class="col-md-6 login-form">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
        
                    <div class="mb-3">
                        
                        {{ form.as_p }}
        
                    </div>
        
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <br>
                    <a href="{% url 'reset_password' %}" class="forgot-password"><div>forgot password?</div></a>
                    <br>
                    <div>Don't have an account? <a style="text-decoration: none;" href="{% url 'register' %}">Register</a></div>
                </form>
            </div>

            <div class="col-md-6 mt-1 social-login">
                    <a href="{% provider_login_url "google" %}"><button class="btn btn-outline-danger mt-3 rounded" style="width: 15rem;"><i class="fa-brands fa-google m-2"></i>Google Login</button></a>
                    <br>
                    <a href="{% provider_login_url "facebook" method="oauth2" %}"><button class="btn btn-outline-primary mt-0 rounded" style="width: 15rem;"><i class="fa-brands fa-facebook m-2"></i>Facebook Login</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


