{% extends 'layout.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}


{% block store %}
<br>
<br>
<br>
<br>
<br>
<div class="resetview">
    <h1>Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input class="btn btn-dark" type="submit" value="Change my password" /></p>
    </form>
</div>
{% else %}
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}