{% extends 'layout.html' %}
{% load static %}


{% block store %}
<br>
<br>
<br>

<div class="container password-update result">
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <h4 class="text-center">Change Password</h4>
        {{ form.as_p }}
        <div class="mt-3 text-center"><button class="btn btn-primary profile-button" type="submit">Change password</button></div>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
