@media screen and (max-width:1350px) {
    #nav-links {
        left: 42rem;
    }

    .search {
        left: 43.5rem;
    }

}

@media screen and (max-width:1310px) {
    #nav-links {
        left: 40rem;
    }
    .search {
        left: 41.5rem;
    }
}

@media screen and (max-width:1270px) {
    #nav-links {
        left: 38rem;
    }
    .search {
        left: 39.5rem;
    }
    .protect-content {
        margin-bottom: 9rem;
    }
    
}

@media screen and (max-width:1230px) {
    #nav-links {
        left: 36rem;
    }

    .search {
        left: 37.5rem;
    }
    
}

@media screen and (max-width:1190px) {
    #nav-links {
        left: 34rem;
    }

    .search {
        left: 35.5rem;
    }

}

@media screen and (max-width:1150px) {
    #nav-links {
        left: 32rem;
    }

    .search {
        left: 33.5rem;
    }

}

@media screen and (max-width:1110px) {
    #nav-links {
        left: 30rem;
    }

    .search {
        left: 31.5rem;
    }
    .size2 {
        height: 70%;
    }

    .size2 img {
        height: 100%;
    }
    .protect-content {
        margin-bottom: 5rem;
    }
    .prev, .next {
        bottom: 13rem;
    }

    #pro-nav {
        top: 29rem;
    }

    .contain {
        top: 29rem;
    }
    .paginate {
        top: 30rem;
    }

}

@media screen and (max-width:1070px) {
    #nav-links {
        left: 28rem;
    }

    .search {
        left: 29.5rem;
    }

}

@media screen and (max-width:1030px) {
    #nav-links {
        left: 26rem;
    }

    .search {
        left: 27.5rem;
    }

    .card {
        width: 16rem;
    }

}

@media screen and (max-width:990px) {
    #nav-links {
        left: 24rem;
    }

    .search {
        left: 25.5rem;
    }

}

@media screen and (max-width:950px) {
    #nav-links {
        left: 22rem;
    }

    .search {
        left: 23.5rem;
    }
}

@media screen and (max-width:910px) {
    #nav-links {
        left: 20rem;
    }

    .search {
        left: 21.5rem;
        visibility: visible;
    }

    .card {
        width: 14rem;
    }
}

@media screen and (max-width:870px) {
    #nav-links {
        left: 18rem;
    }

    .search {
        left: 19.5rem;
        visibility: visible;
    }
}

@media screen and (max-width:830px) {
    #nav-links {
        left: 16rem;
    }

    .search {
        left: 17.5rem;
        visibility: visible;
    }
}

@media screen and (max-width:790px) {
    #nav-links {
        left: 14rem;
    }

    .search {
        left: 15.5rem;
        visibility: visible;
    }

    .card {
        width: 13rem;
    }
}

@media screen and (max-width:750px) {
    #nav-links {
        left: 12rem;
    }

    .search {
        left: 13.5rem;
        visibility: visible;
    }

    .size2 {
        height: 60%;
    }
    .size2 img {
        height: 100%;
    }
    .prev, .next {
        bottom: 16rem;
    }

    .card {
        margin: auto;
        width: 17rem;
    }

    #pro-nav {
        top: 25rem;
    }

    .contain {
        top: 25rem;
    }
    .paginate {
        top: 26rem;
    }
}

@media screen and (max-width:710px) {
    #nav-links {
        left: 10rem;
    }

    .search {
        left: 11.5rem;
        visibility: visible;

    }

    .prev, .next {
        bottom: 18rem;
    }
}

@media screen and (max-width:690px) {
    #nav-links {
        left: 9rem;
    }

    .search {
        left: 9.5rem;
        visibility: visible;

    }

    .prev, .next {
        bottom: 20rem;
    }
}

@media screen and (max-width:670px) {
    #nav-links {
        left: 8rem;
    }

    .search {
        left: 9.5rem;
        visibility: visible;
    }
    .size2 {
        height: 50%;
    }
    .size2 img {
        height: 100%;
    }
    .prev, .next {
        bottom: 23rem;
    }

    #pro-nav {
        top: 21.3rem;
    }

    .contain {
        top: 21.3rem;
    }
    .paginate {
        top: 22rem;
    }
}

@media screen and (max-width:640px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 7.5rem;
        visibility: visible;
    }

    .prev, .next {
        bottom: 23rem;
    }
    .card {
        width: 13rem;
    }
}

@media screen and (max-width:599px) {
    #nav-links {
        left: 4rem;
    }

    .product-flex {
        padding: .8rem;
        width: 98%;
    }

    .search {
        left: 5.5rem;
        visibility: visible;
    }

    .size2 {
        height: 40%;
    }
    .size2 img {
        height: 100%;
    }
    .prev, .next {
        bottom: 26rem;
    }
    #pro-nav {
        top: 17.5rem;
    }

    .contain {
        top: 17.5rem;
    }
    .card {
        width: 13rem;
    }
    .paginate {
        top: 18rem;
    }
}

 @media screen and (max-width:582px) {
    #nav-links {
        left: 3rem;
    }

    .search {
        left: 3.5rem;
        visibility: visible;
    }

    .cart-row div strong {
        font-size: 1rem;
    }
    
}

@media screen and (max-width:550px) {
    #nav-links {
        left: 1rem;
    }

    .search {
        left: 3.5rem;
        visibility: visible;

    }
}

@media screen and (max-width:520px) {
    #nav-links {
        left: 0rem;
    }

    .search {
        left: 3.5rem;
        visibility: visible;

    }
}

@media screen and (max-width:505px) {
    #nav-links {
        left: -1rem;
    }

    .search {
        left: 3rem;
        visibility: visible;
    }
    .card {
        width: 12rem;
    }
}

@media screen and (max-width:485px) {
    #nav-links {
        left: -0rem;
    }

    .search {
        left: 3rem;
        visibility: visible;
    }

    .lagos {
        font-size: 1rem;
    }
}

@media screen and (max-width:470px) {
    #nav-links {
        left: 0rem;
    }

    .search {
        left: 4rem;
        visibility: visible;
    }

    .input-search {
        width: 10rem;
    }

    .next, .prev {
        bottom: 21rem;
    }
    .card {
        width: 16rem;
    }
}

@media screen and (max-width:440px) {
    #nav-links {
        left: -1rem;
    }

    .search {
        left: 3rem;
        visibility: visible;
    }
}

@media screen and (max-width:420px) {
    #nav-links {
        left: -2rem;
    }

    .search {
        left: 2.5rem;
        visibility: visible;
    }
}

@media screen and (max-width:404px) {
    #nav-links {
        left: -1rem;
    }

    .search {
        left: 3.5rem;
    }

    .input-search {
        width: 8rem;
    }

    /* .next, .prev {
        bottom: 12rem;
    } */
}

@media screen and (max-width:385px) {
    #nav-links {
        left: -1rem;
    }

    .search {
        left: 3.5rem;
    }

    .input-search {
        width: 7rem;
    }

    .next, .prev {
        bottom: 24rem;
    }
}

@media screen and (max-width:370px) {
    #nav-links {
        left: -2rem;
    }

    .search {
        left: 2.5rem;
    }

    .input-search {
        width: 7rem;
    }

    .next, .prev {
        bottom: 20rem;
    }
}

@media screen and (max-width:351px) {
    #nav-links {
        left: -1rem;
    }

    .search {
        left: 3rem;
    }

    .input-search {
        width: 7rem;
    }

    .next, .prev {
        bottom: 15rem;
    }

    .lagos {
        width: 10%;
    }
}

@media screen and (max-width:330px) {
    #nav-links {
        left: -1rem;
    }

    .search {
        left: 3rem;
    }

    .input-search {
        width: 7rem;
    }
}