@media screen and (max-width:1350px) {
    #nav-links {
        left: 42rem;
    }

    .search {
        left: 43.5rem;
    }

    #pro-nav {
        top: 4rem;
        margin-top: -6rem;
        padding: .7rem;
        font-size: 1.5vw;
    }

    .dots {
        position: absolute;
        bottom: -.1rem;
    }
}

@media screen and (max-width:1310px) {
    #nav-links {
        left: 40rem;
    }
    .search {
        left: 41.5rem;
    }

}

@media screen and (max-width:1270px) {
    #nav-links {
        left: 38rem;
    }
    .search {
        left: 39.5rem;
    }
}

@media screen and (max-width:1230px) {
    #nav-links {
        left: 36rem;
    }

    .search {
        left: 37.5rem;
    }
    
}

@media screen and (max-width:1190px) {
    #nav-links {
        left: 34rem;
    }

    .search {
        left: 35.5rem;
    }
}

@media screen and (max-width:1150px) {
    #nav-links {
        left: 32rem;
    }

    .search {
        left: 33.5rem;
    }

    .toggle {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1;
        margin-top: -6rem;    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .toggle span {
        height: 3px;
    }

    #pro-nav {
        display: none;
    }

    #pro-nav.active {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 12rem;
    font-size: 1em;
    }

    #pro-nav span:first-child {
        font-size: .8em;
    }

    #pro-nav span a {
        font-size: .8em;
    }

}

@media screen and (max-width:1110px) {
    #nav-links {
        left: 30rem;
    }

    .search {
        left: 31.5rem;
    }
    .size2 {
        height: 70%;
    }

    .size2 img {
        height: 100%;
    }

    .prev, .next {
        bottom: 13rem;
    }

    .protect-content {
        width: 100%;
        height: auto;
        padding: 1.5rem;
    }

    #pro-nav {
        top: 4rem;
        margin-top: -11.5rem;
        padding: .7rem;
        font-size: 1.5vw;
    }

    .dots {
        position: absolute;
        bottom: 6rem;
    }

    .toggle {
        margin-top: -12rem;
    }
}

@media screen and (max-width:1070px) {
    #nav-links {
        left: 28rem;
    }

    .search {
        left: 29.5rem;
    }
}

@media screen and (max-width:1030px) {
    #nav-links {
        left: 26rem;
    }

    .search {
        left: 27.5rem;
    }
}

@media screen and (max-width:990px) {
    #nav-links {
        left: 24rem;
    }

    .search {
        left: 25.5rem;
    }

}

@media screen and (max-width:950px) {
    #nav-links {
        left: 22rem;
    }

    .search {
        left: 23.5rem;
    }

    .dots {
        visibility: hidden;
    }

    .dropdown-item {
        font-size: 1.3em;
    }

    
}

@media screen and (max-width:910px) {
    #nav-links {
        left: 20rem;
    }

    .search {
        left: 21.5rem;
        visibility: visible;
    }
    
}

@media screen and (max-width:870px) {
    #nav-links {
        left: 18rem;
    }

    .search {
        left: 19.5rem;
        visibility: visible;
    }

}

@media screen and (max-width:830px) {
    #nav-links {
        left: 16rem;
    }

    .search {
        left: 17.5rem;
        visibility: visible;
    }

}

@media screen and (max-width:790px) {
    #nav-links {
        left: 12rem;
    }

    .search {
        left: 15.5rem;
        visibility: visible;
    }

}

@media screen and (max-width:750px) {
    #nav-links {
        left: 10rem;
    }

    .search {
        left: 13.5rem;
        visibility: visible;
    }

    .size2 {
        height: 60%;
    }
    .size2 img {
        height: 100%;
    }
    .prev, .next {
        bottom: 16rem;
    }

    #pro-nav {
        top: 4rem;
        margin-top: -15.5rem;
        padding: .7rem;
        font-size: 1.5vw;
    }

    .toggle {
        margin-top: -16rem;
    }
}

@media screen and (max-width:710px) {
    #nav-links {
        left: 8rem;
    }

    .search {
        left: 11.5rem;
        visibility: visible;
    }

    .prev, .next {
        bottom: 18rem;
    }
}

@media screen and (max-width:690px) {
    #nav-links {
        left: 7rem;
    }

    .search {
        left: 9.5rem;
        visibility: visible;
    }

    .prev, .next {
        bottom: 20rem;
    }

    .containee .row .col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:670px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 9.5rem;
        visibility: visible;
    }
    .size2 {
        height: 50%;
    }
    .size2 img {
        height: 100%;
    }
    .prev, .next {
        bottom: 23rem;
    }

    .toggle {
        margin-top: -20rem;
    }

    #pro-nav {
        top: 4rem;
        margin-top: -19.5rem;
        padding: .7rem;
        font-size: 1.5vw;
    }

    .dropdown-menu {
        width: 10rem;
    }

    .containee .row .col{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        font-size: .8em;
    }
}

@media screen and (max-width:640px) {
    #nav-links {
        left: 4rem;
    }

    .search {
        left: 7.5rem;
        visibility: visible;
    }

    .prev, .next {
        bottom: 23rem;
    }
}

@media screen and (max-width:599px) {
    #nav-links {
        left: 12rem;
    }

    .search {
        left: 5.5rem;
        visibility: visible;
    }

    .size2 {
        height: 40%;
    }

    .size2 img {
        height: 100%;
    }

    .prev, .next {
        bottom: 26rem;
    }

    #pro-nav {
        top: 4rem;
        margin-top: -23.5rem;
        padding: .7rem;
        font-size: 1.5vw;
    }

    .search {
        display: none;
    }

    .dropdown-menu {
        background-color: rgb(62, 94, 107);
        width: 12rem;
        color: white;
    }

    .dropdown-item {
        color: white;
        font-size: 1.7em;
    }

    .searching {
        display: block;
        position: relative;
    }

    hr {
        display: block;
        border: 2px solid white;
    }

    .input-search {

        outline: none;
        width: 12rem;
        margin: auto;
        padding: .4rem;
    }

    .toggle {
        margin-top: -24rem;
    }
}

 @media screen and (max-width:582px) {
    #nav-links {
        left: 10rem;
    }

    .search {
        left: 3.5rem;
        visibility: visible;
    }

    .prev, .next {
        bottom: 6rem;
    }

    .toggle {
        margin-top: -28rem;
    }
}

@media screen and (max-width:550px) {
    #nav-links {
        left: 8rem;
    }

    .search {
        left: 3.5rem;
        visibility: visible;

    }
}

@media screen and (max-width:520px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 3.5rem;
        visibility: visible;

    }
}

@media screen and (max-width:505px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 3rem;
        visibility: visible;
    }
}

@media screen and (max-width:485px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 3rem;
        visibility: visible;
    }

    .lagos {
        font-size: 1rem;
    }
}

@media screen and (max-width:470px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 4rem;
        visibility: visible;
    }

    .input-search {
        width: 10rem;
    }

    .next, .prev {
        bottom: 21rem;
    }
}

@media screen and (max-width:440px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 3rem;
        visibility: visible;
    }
}

@media screen and (max-width:420px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 2.5rem;
        visibility: visible;
    }
}

@media screen and (max-width:404px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 3.5rem;
    }

    .input-search {
        width: 8rem;
    }
}

@media screen and (max-width:385px) {
    #nav-links {
        left: 6rem;
    }

    .search {
        left: 3.5rem;
    }

    .input-search {
        width: 7rem;
    }

    .next, .prev {
        bottom: 24rem;
    }
}

@media screen and (max-width:370px) {
    #nav-links {
        left: 4rem;
    }

    .search {
        left: 2.5rem;
    }

    .input-search {
        width: 7rem;
    }

    .next, .prev {
        bottom: 20rem;
    }
}

@media screen and (max-width:351px) {
    #nav-links {
        left: 3rem;
    }

    .search {
        left: 3rem;
    }

    .input-search {
        width: 7rem;
    }

    .next, .prev {
        bottom: 15rem;
    }

    .lagos {
        width: 10%;
    }
}

@media screen and (max-width:330px) {
    #nav-links {
        left: 3rem;
    }

    .search {
        left: 3rem;
    }

    .input-search {
        width: 7rem;
    }

    .prev, .next {
        bottom: 2rem;
    }
}

@media screen and (max-width:320px) {
    .toggle {
        margin-top: -26rem;
    }
}