{% extends 'layout.html' %}
{% load static %}


{% block store %}

<div class="form-container">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">

            {{ form.as_p }}
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>
        <div style="margin-left:0rem;">Have an account? <a style="text-decoration: none;" href="{% url 'login' %}">Login</a></div>
    </form>
</div>

{% endblock %}

